.red input[type='range']::-webkit-slider-thumb {
  background: red;
}
.red input[type='range']::-webkit-slider-runnable-track{
  background-color:rgb(223, 184, 184);
}

.green input[type='range']::-webkit-slider-thumb {
  background: green;
}
.green input[type='range']::-webkit-slider-runnable-track{
  background-color:rgb(189, 236, 189);
}

.blue input[type='range']::-webkit-slider-thumb {
  background: blue;
}
.blue input[type='range']::-webkit-slider-runnable-track{
  background-color:rgb(125, 197, 255);
}

div[hex-display] {
  background-color: rgba(255, 255, 255, 0.7);
}


body{
  background-color: #000000;
}